* {
    font-family: var(--main-font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-font: "Neucha", sans-serif;
    --secondary-font: "Roboto Condensed", sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    background: #f8f8f8;
    min-height: 69px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content-logo {
    margin: 20px 0px 0px 41px;
}

.header-content-nav {
    margin: 20px 67px 0px 0px;
}

.header-content-nav a {
    color: #2C7D7A;
    text-decoration: none;
    font-size: 24px;
    margin-right: 60px;
    font-weight: normal;
}

.header-content-nav a:last-child {
    margin-right: 0px;
}


.slogan {
    background: #2C7D7A;
}

.slogan-content {
    height: 563px;
    display: flex;
    flex-direction: column;
}

.slogan-content-text {
    color: white;
    max-width: 388px;
    margin: 33px 0px 0px 40px;
}

.slogan-content-text h1 {
    font-size: 96px;
    font-weight: normal;
    margin: 0px 0px 16px 0px;
}

.slogan-content-text p {
    font-family: var(--secondary-font);
    font-size: 20px;
    margin: 0;
}

.slogan-content-image {
    height: auto;
    align-self: flex-end;
    width: 457px;
    height: 613px;
}

.slogan-content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.product {
    background: #D29076;
}

.product-content {
    display: flex;
}


.product-content-text {
    margin: 51px 0px 0px 66px;
    max-width: 524px;
}

.product-content-text h2 {
    margin: 0px 0px 42px 0px;
    align-self: flex-start;
    color: #8E3C27;
    font-size: 60px;
    font-weight: normal;
}

.product-content-text p {
    margin: 0px 0px 90px 0px;
    font-size: 25px;
    line-height: 34px;
    color: black;
    font-family: var(--secondary-font);
}

.btn {
    background: #81392B;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 25px;
    width: 212px;
    height: 53px;
}

.product-content-image {
    align-content: center;
    /* min-width: 380px; */
}

.product-content-image img {
    width: 100%;
    height: auto;
}


.new-products {
    background: #EAF6F9;
}

.new-products-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-products-text h2 {
    color: #00625E;
    font-size: 28px;
    font-weight: normal;
    width: 144px;
    margin: 0px 0px 0px 108px;
}

.new-products-items {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin: 26px 108px 42px 0px;

}

.new-products-items img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.footer {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

.footer-info {
    margin: 0px 0px 0px 135px;
}

.footer-info-phone {
    color: #00625E;
    font-size: 30px;
    font-weight: normal;

}

.footer-info-text {
    color: #2A384E;
    font-size: 14px;
    /* margin: 12px 0px 0px 0px; */
}

.footer-socials-content {
    margin: 55px 55px 39px 0px;
    display: flex;
    flex-direction: row;
}

.footer-socials-content a {
    color: #2A384E;
    text-decoration: none;
    margin-right: 10px;
}



@media screen and (max-width: 850px) {

    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .header-content-nav {
        margin: 10px;
    }

    .header-content-logo {
        margin: 10px 0px;
    }

    .slogan-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .slogan-content-text {
        margin: 20px 0px;
    }

    .product-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .product-content-text {
        margin: 0px;
        text-align: center;
    }

    .product-content-text h2 {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .product-content-text p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .product-content-image {
        grid-row: 2;
        width: 300px;
        height: auto;
    }

    .new-products-content {
        flex-direction: column;
        align-items: center;
    }

    .new-products-text h2 {
        margin: 20px 0px;
        font-size: 48px;
        text-align: center;
        width: auto;
    }

    .new-products-items {
        flex-direction: column;
        align-self: center;
        margin: 20px 0px;
    }



}